name: Rust CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
    - name: Install cargo-leptos
      run: |
        cargo install cargo-binstall
        cargo binstall cargo-leptos -y
    - name: Check
      run: cd ldtatkinson && cargo check --all-targets --all-features
    - name: Test
      run: cd ldtatkinson && cargo leptos test
    - name: Clippy
      run: cd ldtatkinson && cargo clippy --all-targets --all-features -- -D warnings
